/* 
 Created on : Jan 6, 2014, 4:46:39 PM
 Author     : @ckchaudhary
*/
.site-title span { position: absolute;clip: rect(1px, 1px, 1px, 1px) }
ul.inline, ol.inline, ul.list-unstyled, ol.list-unstyled {margin:0; padding:0;}
ul.inline li, ol.inline li{float:left; list-style-type:none; margin: 0px 25px 5px 0;}
.pull-right ul.inline li, .pull-right ol.inline li{ margin: 0px 0 5px 25px; }
ul.list-unstyled li, ol.list-unstyled li{list-style-type:none;}

img.responsive{max-width: 100%;}
.block-level{ display:block; }

.pagination-nomargin .pagination{margin: 2px 0;}
.input-group.maxwidth200{ max-width: 200px; }
#search_extended .search_categories { padding: 0; }
.text-error{
	padding: 10px 15px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.text-info{
	padding: 10px 15px;
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.text-success{
	padding: 10px 15px;
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.label>a, .label>a:hover, .label>a:focus{color:#fff;}
/* --------------------------------------
----------------------responsive grid */
/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

@media screen and (min-width: 0px) {
    .col {margin-left:1%;padding:0 0%;}
    .row .col:first-child {margin-left:0;}

    .span_12 {margin-left:0;width:100%;}
    .span_1 {width:7.41666666667%;} .span_11 {width:91.5833333333%;}
    .span_2 {width:15.8333333333%;} .span_10 {width:83.1666666667%;}
    .span_2_5{width:20.625%;} 	.span_9_5 {width:78.325%; }
    .span_3 {width:24.25%;} 	.span_9 {width:74.75%;}
    .span_3_5{width:28.875%;} 	.span_8_5 {width:70.125%; }
    .span_4 {width:32.6666666667%;} .span_8 {width:66.3333333333%;}
    .span_5 {width:41.0833333333%;} .span_7 {width:57.9166666667%;}
    .span_6 {width:49.5%;}
}

@media only screen and (max-width: 480px) {
    .col{float:none;margin:5px 0}
    .span_1, .span_2, .span_2_5, .span_3, .span_3_5, .span_4, .span_5, .span_6, .span_7, .span_8, .span_8_5, .span_9, .span_9_5, .span_10, .span_11, .span_12 {width:auto;}
}
/* ======================================= */
.search-filters .separator{
    margin: 15px 0 0; border-top: 1px dashed #ccc;
    padding: 10px 0 0;
}

/* +++++ user dashboard +++++++++++++++++ */
.page-template-page-templatesdashboard-page-php .entry-content { max-width: 100%; margin: 10px auto 0; }
.page-header .dashboard-header{font-size: 14px; text-align: left;}

@media only screen and (max-width: 700px) {
    .member-dp img{ width: 60px; height: 60px; }
}

@media only screen and (max-width: 480px) {
    .member-dp{ display: none; }
}

.dashboard.horizontal .dashboard-navigation, .dashboard.horizontal .dashboard-subnav {background: #fafafa;}
.dashboard.horizontal .dashboard-navigation{
    border: 1px solid #ddd;
}
.dashboard-navigation h4{
    margin: 0;
    padding: 10px 5px;
    background-color: #5bc0de;
  	color:#fff;
 
}
.dashboard-navigation .devider{
    margin: -1px;
    background: #fff; height: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dashboard-navigation .nav li a,
.dashboard-content .subnav li a,
.dashboard-content h3{
    text-transform: capitalize;
}

.dashboard-content ul.nav.subnav{margin-bottom: 10px;background-color: #fcf8e3;}
    .dashboard.horizontal .dashboard-content ul.nav.subnav{ margin-top: 0; }
    .dashboard.horizontal .dashboard-content ul.nav.subnav li{ margin: 5px 1px 5px 1px; }
.dashboard-content ul.nav.subnav>li>a{padding: 3px 15px;}

.dashboard .job-dashboard-actions .btn_repost span.glyphicon{ font-size: 9px; }
/* ======================================= */

/* +++++++ Candidate search ++++++++++++++ */ 
.dashboard .save_search_info{
    float: right; font-size: 20px; color: #000;
}
.dashboard .search-results { padding-top: 20px }
.search-results .candidate .member_action_buttons{ margin-top: -7px; float:right; }
    @media only screen and (max-width: 700px) {
	.search-results .candidate .member_action_buttons{ float: none; margin-top: 5px; }
    }

    .search-results .candidate .panel-title img{ max-height: 20px; max-width: 20px }
ul.ccbmc_collection li, ul.tag_candidates li{margin-left: 5px;}
ul.ccbmc_collection li label,  ul.tag_candidates li label{font-weight: normal; font-size: 12px; text-transform: none;}
ul.ccbmc_collection li label input,  ul.tag_candidates li label input{ vertical-align: bottom; }
.close.delete_bookmark{ margin-right: 3px; }

/* +++++++++++++ user profile page +++++++ */
.user-details .member-header{ margin: 20px 0;}
.user-details .member-badges{ float:right; margin-top: 15px; }
    @media only screen and (max-width: 700px) {
	.user-details .member-badges{ float:none; margin-top: 0px; }
    }
    .user-details .member-badges .employer-type{font-size: 16px; background: #428bca; color: #fff;}
    .user-details .member-badges .employer-type.employer-type-gold{color: #F9DD34;}

.member-meta li > span{ font-style: italic; margin: 0px 10px 5px 0; }
/*
.status_loading{
    background-image: url("loading.gif");
    width: 20px;
    height: 26px;
    background-repeat: no-repeat;
    float: right;
    padding-right: 101px;
}
.remove_pdf_loading{
    background-image: url("loading.gif");
    width: 20px;
    height: 26px;
    background-repeat: no-repeat;
    float: right;
    padding-right: 263px;

}
*/


/* MESSAGES - THREADS AND REPLIES */
.messages-search input[type='text']{
    display: block; width: 90%; padding: 5px 2%;
}
.messages-search input[type='submit']{ margin-top: 26px; }
select[name='bulk_action_drop_down']{padding: 3px}

table.threads tr td h3{ margin: 1px; }
.dashboard .thread-message{
    margin-top: 10px;
    background: #d9edf7 url(../_inc/images/quote-icon.png) no-repeat 5px 5px;
    color: #444; font-size: 16px;
    padding: 5px 10px 10px 40px;
    border-bottom: 1px solid #666;
}
.thread-replies li{
    border: 1px outset #ddd;
    margin: 0 10% 10px 0;
    padding: 5px;
}
    .thread-replies li .user{
	width: 30px; float: left;
    }
    .thread-replies li .message{
	margin-left: 40px;
    }
    .thread-replies li hr{ margin: 5px 10px; }
    .thread-replies li p.message-text{ margin-bottom: 5px; }
.thread-replies li.sender-other{
    border-color: #009cee;
    margin: 0 0 10px 10%;
    text-align: right;
}
    .thread-replies li.sender-other .user{
	width: 30px; float: right;
    }
    .thread-replies li.sender-other .message{
	margin-right: 40px;
    }
    
/* +++++++ homepage slider ++++++++++ */
.homepage-widget.jobify_widget_slider_hero:first-child{
    /*max-width: 1440px; margin: 0 auto;*/
    max-width: 3200px; margin: 0 auto;
}
body .jobify_widget_slider_hero .soliloquy-control-nav.soliloquy-control-paging{
    margin-left: -2%;
}

.dashboard-content .job-manager-form #company_description_code, .dashboard-content .job-manager-form #job_description_code{
    display: none;
}

#theme-my-login .registeration-captcha-field{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#theme-my-login .registeration-captcha-field .captcha_image img{
    border: 2px solid black;
}
#theme-my-login .registeration-captcha-field #captcha-form{
    width: 300px;
}